
 body,h1,h2,h4{
    font-family: "Raleway", sans-serif
}

h1,h3 {
    letter-spacing: 6px
}
h5 {
    margin-top: 20px;
    font-weight: 400 !important;
    letter-spacing: 1.2px
}
h4 ,.letterSpace{
    font-weight: 800 !important;
    letter-spacing: 1.5px
}
li{
    letter-spacing: 1px
}
.w3-row-padding img {
    margin-bottom: 12px
}
body, html {
    height: 100%
}
p {
    line-height: 2
}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {
    background-image: url("/w3images/wedding_couple.jpg")}
.bgimg2 {
    background-image: url("/image/bg1.jpg")
}
.about_bg{
    background-color: #636363;
    color: white;
}
.get_start{
    background-color:#212529;
    color: whitesmoke;
}
.education_bg{
    background-color: #fff;
}
.experience_bg{
    background-color: #636363;
}
.project_bg{
    background-color: #fff;
}
.w3-content-set{
    max-width: 1500px;
}
.hoverpro{
    background-color: #a9a9a9;
    border: 20px solid white;
    color: white;
    border-radius: 40px;
    padding: 15px !important;
    
}
.w3-display-container{
    padding: 5px;
}
.mySlides {
    display:none
}